
 .h-screen {
    height: 100vh;
  } 
  .w-screen {
    width: 100vw;
  }
  
  .w-full{
    width: 100%;
  }
  .text-2xl {
    font-size: 24px !important;
  }
  .text-xl {
    font-size: 20px !important;
  }
  .text-lg {
    font-size: 18px !important;
  }
  .text-md {
    font-size: 16px !important;
  }
  .text-sm {
    font-size: 14px !important;
  }
  .border{
    border-width: 1px;
  }
  .br-1{
    border-radius: 10px;
  }
  .br-2{
    border-radius: 20px;
  }